.App {
  text-align: center;
}

body {
  padding: 15%;
}

.container {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.tic-tac {
  width: 300px;
  height: 300px;
  background-color: rgb(76, 52, 99);
  border-radius: 3px;
}

.grid {
  width: 100px;
  height: 100px;
  float: left;
  border: 3px solid rgb(195, 103, 248);
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.span {
  position: absolute;
  left: 10px;
  top: -60px;
  font-size: 150px;
  color: rgb(192, 192, 192);
  font-weight: 00;
  padding: 0;
}

.btnChange {
  padding: 5px 10px;
  border: 1px solid rgb(76, 52, 99);
  background-color: white;
}
